/** Global Styling **/
@font-face {
    font-family: "OpenSans_Regular";

    src: url("../fonts/OpenSans/Open_Sans_Normal.eot"); /* IE9 Compat Modes */
    src: url("../fonts/OpenSans/Open_Sans_Normal.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans/Open_Sans_Normal.woff2") format("woff2"), /* Pretty Modern Browsers */
    url("../fonts/OpenSans/Open_Sans_Normal.woff") format("woff"),
    url("../fonts/OpenSans/Open_Sans_Normal.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/OpenSans/Open_Sans_Normal.svg#OpenSans_Regular") format("svg"); /* Legacy iOS */
}

@font-face {
    font-family: "OpenSans_Bold";

    src: url("../fonts/OpenSans/Open_Sans_Bold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/OpenSans/Open_Sans_Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans/Open_Sans_Bold.woff2") format("woff2"), /* Pretty Modern Browsers */
    url("../fonts/OpenSans/Open_Sans_Bold.woff") format("woff"),
    url("../fonts/OpenSans/Open_Sans_Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/OpenSans/Open_Sans_Bold.svg#OpenSans_Regular") format("svg"); /* Legacy iOS */
}

/* Taken from Bootstrap */
.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}

/** Main Styling (for 1080p) **/
.body {
    background-color: #f0f0f0;
    font-family: "OpenSans_Regular", Arial;
}

.top-wrapper {
    background: url("../images/background_tile.png");
    background-color: #717171;
}

.header {
    color: #fff;
    text-align: center;
}

.header__lowbandwidth {
    font-size: 14px;
}

.header__preparedfor {
    font-size: 18px;
}

.header__preparedfor--name {
    font-family: "OpenSans_Bold", Arial;
    font-weight: bold;
}

.social--top {
    background-color: rgba(31, 31, 31, 0.3);
}

.social--bottom {
    text-align: center;
}

.social__icon {
    background: url("../images/social_icons.png") no-repeat;
    background-size: 700% 400%;
    border: 0;
    cursor: pointer;
}

.social--top .social__icon {
    width: 45px;
    height: 45px;
}

.social--top-right .social__icon {
    margin-right: 7px;
}

.social--top-left .social__icon {
    margin-left: 7px;
}

.social--top .social__icon--expand {
    margin-right: 0;
    margin-left: 0;
}

.social--bottom .social__icon {
    margin-right: 10px;
    width: 48px;
    height: 48px;
    background-position-y: 66.666%;
}

.social--top .social__icon:hover {
    background-position-y: 33.333%;
}

.social__icon--facebook {
    background-position-x: 0;
}

.social__icon--twitter {
    background-position-x: 16.666%;
}

.social__icon--googleplus {
    background-position-x: 33.333%;
}

.social__icon--email {
    background-position-x: 50%;
}

.social__icon--link {
    background-position-x: 66.666%;
}

.social__icon--collapse {
    background-position-x: 83.333%;
}

.social__icon--expand {
    background-position-x: 100%;
}

.cta__button {
    color: #fff;
    background-color: #0072b8;
    border: 0;
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cta__button:hover {
    background-color: #00436e;
}

.cta__icon {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 80px;
    height: 80px;
    background: url("../images/cta_icons.png") no-repeat;
    background-size: 500% 300%;
}

.cta__icon--contact {
    background-position-x: 0;
}

.cta__icon--website {
    background-position-x: 25%;
}

.cta__icon--email {
    background-position-x: 50%;
}

.cta__icon--save {
    background-position-x: 75%;
}

.cta__icon--share {
    background-position-x: 100%;
}

.player {
    background-color: #dbdbdb;
}

.player__splash {
    opacity: 0.5;
    background-color: #000;
    cursor: pointer;
}

.player__splash-image {
    margin: 0 auto;
    margin-top: calc((100% * (9/16)) / 2 - (182px / 2)); /* Calculate the margin-top based on half the video height, minus half the height of the splash icon */
    width: 175px;
    height: 182px;
    background: url("../images/splash_play.png") no-repeat;
    background-size: 200% 200%;
}

.player__splash:hover .player__splash-image {
    background-position-x: 100%;
}

.player__splash-image--white {
    background-position-y: 0;
}

.player__splash-image--grey {
    background-position-y: 100%;
}

.promo__item {
    background-color: #fff;
}

.promo--side .promo__image {
    background-size: 200% 100%;
}

.promo--side .promo__item--top .promo__image {
    background-image: url("../images/promo_portrait.png");
}

.promo--side .promo__item--bottom .promo__image {
    background-image: url("../images/promo_portrait.png");
}

.promo--side .promo__link:hover .promo__image {
    background-position-x: 100%;
}

.promo--bottom .promo__image {
    background-size: 100% 200%;
}

.promo--bottom .promo__item--top .promo__image {
    background-image: url("../images/promo_landscape.png");
}

.promo--bottom .promo__item--bottom .promo__image {
    background-image: url("../images/promo_landscape.png");
}

.promo__link {
    color: #000;
    text-decoration: none;
}

.promo__link:hover {
    text-decoration: underline;
}

.timeline {
    color: #fff;
    background-color: #1f1f1f;
    font-size: 24px;
}

.timeline__cover {
    background: #00436e;
}

.timeline__controls {
    background-color: #2e2e2e;
    border-color: #dbdbdb;
}

.timeline__button {
    background-color: #2e2e2e;
    cursor: pointer;
}

.timeline__button--skip-back,
.timeline__button--skip-forward {
    width: 115px;
}

.timeline__button--play-pause {
    width: 100px;
}

.timeline__button--settings,
.timeline__button--fullscreen {
    width: 60px;
}

.timeline__button--volume {
    width: 45px;
}

.timeline__button-icon {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    background: url("../images/timeline_controls.png") no-repeat;
    background-position-y: 50%;
    background-size: 2700% 300%;
}

.timeline__button:hover .timeline__button-icon {
    background-position-y: 100%;
}

.timeline__button-icon--skip-back {
    margin-right: 8px;
    background-position-x: calc((100%/26) * 2);
}

.timeline__button-icon--play {
    width: 35px;
    height: 35px;
    background-position-x: calc((100%/26) * 0);
}

.timeline__button-icon--pause {
    width: 35px;
    height: 35px;
    background-position-x: calc((100%/26) * 1);
}

.timeline__button-icon--skip-forward {
    margin-left: 8px;
    background-position-x: calc((100%/26) * 3);
}

.timeline__button-icon--settings {
    background-position-x: calc((100%/26) * 5);
}

.timeline__button-icon--settings--sd {
    background-position-x: calc((100%/26) * 6);
}

.timeline__button-icon--settings--hd {
    background-position-x: calc((100%/26) * 7);
}

.timeline__button-icon--settings--4k {
    background-position-x: calc((100%/26) * 8);
}

.timeline__button-icon--sd {
    background-position-x: calc((100%/26) * 9);
}

.timeline__button-icon--hd {
    background-position-x: calc((100%/26) * 10);
}

.timeline__button-icon--4k {
    background-position-x: calc((100%/26) * 11);
}

.timeline__button-icon--language {
    background-position-x: calc((100%/26) * 12);
}

.timeline__button-icon--cc {
    background-position-x: calc((100%/26) * 13);
}

.timeline__button-icon--tick {
    background-position-x: calc((100%/26) * 14);
}

.timeline__button-icon--right-arrow {
    background-position-x: calc((100%/26) * 15);
}

.timeline__button-icon--left-arrow {
    background-position-x: calc((100%/26) * 16);
}

.timeline__button-icon--fullscreen {
    background-position-x: calc((100%/26) * 17);
}

.timeline__button-icon--volume-0 {
    background-position-x: calc((100%/26) * 19);
}

.timeline__button-icon--volume-1 {
    background-position-x: calc((100%/26) * 20);
}

.timeline__button-icon--volume-2 {
    background-position-x: calc((100%/26) * 21);
}

.timeline__button-icon--volume-3 {
    background-position-x: calc((100%/26) * 22);
}

.timeline__buffer-section-inner {
    background-color: #717171;
}

.timeline-progress-hover {
    background-color: #00436e;
}

.timeline-progress {
    background-color: #0072b8;
}

.timeline-chapters--seen {
    color: #bfbfbf;
}

.timeline-contrast .timeline-chapters__label {
    color: #2e2e2e;
}

.timeline-contrast {
    background-color: #4095ca;
}

.timeline-contrast-hover {
    background-color: #407292;
}

.timeline-chapters__chapter {
    border-right: 2px solid #c0c0c0;
}

.timeline-chapters__chapter:last-child {
    border: none;
}

.timeline-chapters__chapter-introduction {
    width: 50%;
}

.timeline-chapters__chapter-chosenplan {
    width: 50%;
}

.timeline-volume__bg {
    background-color: #717171;
    border-radius: 5px;
}

.timeline-volume__level {
    background-color: #0072b8;
    border-radius: 5px;
}

.timeline-volume__ball {
    background-color: #9b9b9b;
    border-radius: 10px;
}

.timeline-volume__ball:hover {
    background-color: #fff;
}

.timeline__settings-popout,
.timeline__settings-quality,
.timeline__settings-language,
.timeline__settings-cc {
    position: absolute;
    top: -210px;
    right: 355px;
    padding: 16px;
    width: 200px;
    height: 210px;
    background-color: #2e2e2e;
    font-size: 17px;
}

.timeline__settings-heading {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #818888;
}

.timeline__settings-heading--clickable,
.timeline__settings-item {
    cursor: pointer;
}

.timeline__settings-heading--clickable:hover .timeline__button-icon,
.timeline__settings-item:hover .timeline__button-icon {
    background-position-y: 100%;
}

.timeline__settings-item:hover .timeline__settings-text {
    color: #fff;
}

.timeline__settings-icon--left {
    float: left;
    margin-right: 10px;
}

.timeline__settings-text {
    float: left;
    margin-bottom: 9px;
    color: #818888;
    line-height: 25px;
}

.timeline__settings-quality .timeline__settings-text {
    margin-bottom: 0;
}

.timeline__settings-icon--right {
    float: right;
}

.timeline__settings-icon .timeline__button-icon {
    width: 25px;
    height: 25px;
}

.timeline__settings-icon--arrow .timeline__button-icon,
.timeline__settings-icon--small .timeline__button-icon {
    width: 18px;
    height: 18px;
}

.timeline__settings-icon--left.timeline__settings-icon--arrow {
    margin-right: 5px;
    margin-left: -2px;
}

.timeline__settings-icon--left.timeline__settings-icon--small {
    margin: 4px 10px 5px 0;
}

.timeline__settings-icon--right.timeline__settings-icon--small {
    margin: 5px 0 5px 0;
}

.footer {
    color: #3d3d3d;
    background-color: #f0f0f0;
    font-size: 16px;
}

.footer__poweredby {
    text-align: center;
}

.footer__copyright {
    text-align: left;
}

.footer__links {
    text-align: right;
}

.footer__link {
    color: #3d3d3d;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__link--image:hover {
    text-decoration: none;
}

/** 720p **/
@media screen and (max-width: 2460px) {
    .header__preparedfor {
        font-size: 14px;
    }

    .cta__icon {
        margin-bottom: 15px;
        width: 60px;
        height: 60px;
    }

    .cta--side .cta__button {
        font-size: 24px;
    }

    .player__splash-image {
        margin-top: calc((100% * (9/16)) / 2 - (130px / 2)); /* Calculate the margin-top based on half the video height, minus half the height of the splash icon */
        width: 125px;
        height: 130px;
    }

    .timeline {
        font-size: 20px;
    }

    .timeline__button--skip-back,
    .timeline__button--skip-forward {
        width: 77px;
    }

    .timeline__button--play-pause {
        width: 66px;
    }

    .footer {
        font-size: 14px;
    }

    .social--top .social__icon {
        width: 32px;
        height: 32px;
    }

    .social--top-right .social__icon {
        margin-right: 5px;
    }

    .social--top-left .social__icon {
        margin-left: 5px;
    }

    .social--top .social__icon--expand {
        margin-right: 0;
        margin-left: 0;
    }

    .timeline__settings-popout,
    .timeline__settings-quality,
    .timeline__settings-language,
    .timeline__settings-cc {
        right: 222px;
    }
}

/** 540p **/
@media screen and (max-width: 1640px) {
    .social--top .social__icon {
        width: 28px;
        height: 28px;
    }

    .social--top-right .social__icon {
        margin-right: 4px;
    }

    .social--top-left .social__icon {
        margin-left: 4px;
    }

    .social--top .social__icon--expand {
        margin-right: 0;
        margin-left: 0;
    }

    .cta__icon {
        margin-bottom: 10px;
        width: 50px;
        height: 50px;
    }

    .cta--side .cta__button {
        font-size: 18px;
    }

    .player__splash-image {
        margin-top: calc((100% * (9/16)) / 2 - (115px / 2)); /* Calculate the margin-top based on half the video height, minus half the height of the splash icon */
        width: 110px;
        height: 115px;
    }

    .timeline {
        font-size: 18px;
    }

    .timeline__button--skip-back,
    .timeline__button--skip-forward {
        width: 57px;
    }

    .timeline__button--play-pause {
        width: 51px;
    }

    .timeline__button--settings,
    .timeline__button--fullscreen {
        width: 45px;
    }

    .timeline__button--volume {
        width: 40px;
    }

    .timeline__settings-popout,
    .timeline__settings-quality,
    .timeline__settings-language,
    .timeline__settings-cc {
        top: -180px;
        right: 165px;
        padding: 13px;
        height: 180px;
        font-size: 15px;
    }

    .timeline__settings-heading {
        padding-bottom: 8px;
    }

    .timeline__settings-icon--arrow .timeline__button-icon,
    .timeline__settings-icon--small .timeline__button-icon {
        width: 15px;
        height: 15px;
    }

    .timeline__settings-icon--left.timeline__settings-icon--small {
        margin: 5px 10px 5px 0;
    }
}

/** 360p **/
@media screen and (max-width: 1230px) {
    .social--top .social__icon {
        width: 24px;
        height: 24px;
    }

    .social--top-right .social__icon {
        margin-right: 3px;
    }

    .social--top-left .social__icon {
        margin-left: 3px;
    }

    .social--top .social__icon--expand {
        margin-right: 0;
        margin-left: 0;
    }

    .cta__icon {
        margin-bottom: 6px;
        width: 32px;
        height: 32px;
    }

    .cta--side .cta__button {
        font-size: 16px;
    }

    .player__splash-image {
        margin-top: calc((100% * (9/16)) / 2 - (101px / 2)); /* Calculate the margin-top based on half the video height, minus half the height of the splash icon */
        width: 97px;
        height: 101px;
    }

    .timeline__button--skip-back,
    .timeline__button--skip-forward {
        width: 38px;
    }

    .timeline__button--play-pause {
        width: 34px;
    }

    .timeline__button-icon {
        width: 25px;
        height: 25px;
    }

    .timeline__button-icon--play,
    .timeline__button-icon--pause {
        width: 30px;
        height: 30px;
    }

    .timeline__button-icon--skip-back {
        margin-right: 4px;
    }

    .timeline__button-icon--skip-forward {
        margin-left: 4px;
    }
}

/** Mobile devices **/
@media screen and (max-width: 820px) {
    .cta__button:hover {
        background-color: #0072b8;
    }

    .player__splash:hover .player__splash-image {
        background-position-x: 0;
    }

    .timeline__settings-heading--clickable:hover .timeline__button-icon,
    .timeline__settings-item:hover .timeline__button-icon {
        background-position-y: 50%;
    }

    .timeline__settings-item:hover .timeline__settings-text {
        color: #818888;
    }

    .promo__link:hover {
        text-decoration: none;
    }

    .timeline__button:hover .timeline__button-icon {
        background-position-y: 50%;
    }

    .footer__link:hover {
        text-decoration: none;
    }

    .timeline__button--skip-back,
    .timeline__button--skip-forward {
        width: 30%;
    }

    .timeline__button--play-pause {
        width: 40%;
    }

    .timeline__button--settings {
        width: 100%;
    }

    .timeline__button-icon {
        width: 25px;
        height: 25px;
    }

    .timeline__button-icon--skip-back,
    .timeline__button-icon--skip-forward {
        width: 22px;
        height: 22px;
    }

    .timeline__button-icon--skip-back {
        margin-right: 4px;
    }

    .timeline__button-icon--skip-forward {
        margin-left: 4px;
    }

    .timeline-progress-indicator-ball {
        background-color: #fff;
        border: 3px solid #0072b8;
        border-radius: 12px;
    }

    .timeline__controls--center {
        z-index: 5;
        background-color: #1f1f1f;
    }

    .timeline__settings-popout,
    .timeline__settings-quality,
    .timeline__settings-language,
    .timeline__settings-cc {
        right: 0;
    }

    .bottom-wrapper {
        background-color: #dbdbdb;
    }

    .footer__poweredby,
    .footer__copyright,
    .footer__links {
        text-align: center;
    }
}

/** Mobile devices in landscape and tablet devices in portrait **/
@media screen and (max-width: 820px) {
    .cta__button {
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
}

/** Mobile devices in landscape **/
@media screen and (max-width: 820px) and (orientation: landscape) {
    .main {
        -webkit-transition: width 0.5s ease-in-out;
           -moz-transition: width 0.5s ease-in-out;
             -o-transition: width 0.5s ease-in-out;
                transition: width 0.5s ease-in-out;
    }

    .cta--1 .cta__button--button-1,
    .cta--2 .cta__button--button-2,
    .cta--3 .cta__button--button-3,
    .cta--4 .cta__button--button-4,
    .cta--5 .cta__button--button-5 {
        border-bottom: 0;
    }
}

/** Mobile devices in portrait **/
@media screen and (max-width: 700px) and (orientation: portrait) {
    .player__splash-image {
        margin-top: calc((100% * (9/16)) / 2 - (78px / 2)); /* Calculate the margin-top based on half the video height, minus half the height of the splash icon */
        width: 75px;
        height: 78px;
    }

    .cta__button {
        border: 1px solid #fff;
        border-right: 0;
    }

    .cta--1 .cta__button--button-1,
    .cta--2 .cta__button--button-2,
    .cta--3 .cta__button--button-3,
    .cta--4 .cta__button--button-4,
    .cta--5 .cta__button--button-5 {
        border-right: 1px solid #fff;
    }

    .cta__icon {
        margin-bottom: 10px;
    }

    .cta--bottom .cta__button {
        font-size: 15px;
    }

    .social--bottom .social__icon {
        width: 40px;
        height: 40px;
    }
}

/** Smaller mobile devices **/
@media screen and (max-width: 500px), screen and (max-height: 300px) and (orientation: landscape) {
    .cta--side .cta__button {
        font-size: 14px;
    }

    .cta__icon {
        margin-bottom: 3px;
        width: 28px;
        height: 28px;
    }
}

/** Very small mobile devices **/
@media screen and (max-height: 260px) and (orientation: landscape) {
    .cta--side .cta__button {
        font-size: 13px;
    }

    .cta__icon {
        margin-bottom: 2px;
        width: 25px;
        height: 25px;
    }
}
